<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter your username" type="text" name="username" id="">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Enter your thoughts"></textarea>
    <button>SUBMIT</button>
    </form>
    
</body>
</html>