<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show detailed</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="posts">
        <h3>ID:<%=post.id%></h3>
        <h3>username :@<%=post.username%></h3>
        <h4>Content :<%=post.content%></h4>
    </div>
</body>
</html>